body {
    font-size: 14pt;
}

* {
    box-sizing: border-box;
}

.title {
    text-align: center;
}

.chat {
    display: flex;
    margin: auto;
    max-width: 400px;
    height: 400px;
}

.user {
    display: flex;
    align-items: center;
}

.user:nth-child(n + 2) {
    margin-top: 4px;
}

.user-ava {
    display: block;
    width: 40px;
    height: 40px;
    border: 1px solid gray;
    border-radius: 50%;
}

.user-name {
    display: block;
    margin-left: 4px;
}

.posts {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-left: 10px;
    padding: 2px;
    border: 1px solid gray;
    border-radius: 4px;
}

.posts-feed {
    flex-grow: 1;
}

.posts-input-panel {
    display: flex;
}

.post {
    padding: 2px;
    border: 1px solid gray;
    border-radius: 4px;
}

.post:nth-child(n + 2) {
    margin-top: 10px;
}

.post-input-text {
    width: 100%;
    padding-right: 36px;
}

.post-input-button {
    margin-left: 4px;
}

.camera-icon, .microphone-icon {
    width: 16px;
    height: 16px;
}

.post-input-container {
    position: relative;
    width: 100%;
}

.post-video-link {
    position: absolute;
    right: 20px;
    top: 4px;
    text-decoration: none;
    line-height: 0;
}

.post-video-link:hover {
    background-color: lightgray;
}

.post-audio-link {
    position: absolute;
    right: 2px;
    top: 4px;
    text-decoration: none;
    line-height: 0;
}

.post-audio-link:hover {
    background-color: lightgray;
}

.post-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.post-title {
    align-self: flex-end;
}

.eye-icon-class {
    width: 16px;
    height: 16px;
}

.manual-location-dialog {
    width: 400px;
    height: 210px;
    position: absolute;
    top: calc(30% - 250px/2);
    left: calc(50% - 400px/2);
    border: 1px solid black;
    border-radius: 10px;
    z-index: 2;
    background-color: white;
}

.manual-location-dialog-base {
    content: "";
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-color: gray;
    opacity: 90%;
}

.manual-location-dialog-title {
    margin: auto;
    text-align: center;
}

.manual-location-dialog-container {
    margin-top: 20px;
    padding: 0 10px;
}

.manual-location-dialog-name {
    display: block;
    width: 100%;
}

.manual-location-dialog-location {
    display: block;
    width: 100%;
}

.manual-location-dialog-location:invalid {
    border: 1px solid red;
}

.manual-location-dialog-location:invalid:required {
    background-color: pink;
}

.manual-location-dialog-location:valid {
    border: 1px solid black;
}

.manual-location-dialog-buttons {
    display: flex;
    justify-content: flex-end;
    margin-top: 10px;
}

.manual-location-dialog-ok {
    margin-left: 4px;
}

.manual-location-dialog-cancel {
    margin-right: 4px;
}

.tip {
    position: absolute;
    background-color: white;
    z-index: 500;
}

.tip-hidden {
    display: none;
}

.tip-text {
    font-style: italic;
    color: darkred;
}
